.badge{
    margin: 2px;
    color: black;
}

.hp {
    background-color: #9EE865;
}

.attack {
    background-color: #F5DE69;
}

.defense {
    background-color: #F09A65;
}

.special-attack {
    background-color: #66D8F6;
}

.special-defense {
    background-color: #899EEA;
}

.speed {
    background-color: #E46CCA;
}